.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.aux
*.bbl
*.bib
*.synctex.gz
*.log
*.Rdata
*.rdb
cache/
*.toc
AoristicDirichletProcesses-tikzDictionary
*.tikz
*.tikz
StatisticalAoristicAnalysis-tikzDictionary
StatisticalAoristicAnalysis.toc
AoristicDirichletProcesses-concordance.tex
figure/*
Spread/Article/aoristicAnalysisOfCrimeTimesThroughBayesianSemiparametricCircularModels-concordance.tex
Spread/Article/DealingWithPartiallyObservedCrimeTimes-tikzDictionary
Spread/Article/DealingWithPartiallyObservedCrimeTimes-concordance.tex
figure/
Spread/Article/DealingWithPartiallyObservedCrimeTimes.tex
